/* Estilo común para ambos contenedores */
#productos-conteiner,
#carrito-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    margin: 0 auto; /* Centra el contenedor en el ancho disponible */
    padding: 10px; /* Padding interno para el contenedor */
}

/* Estilo para las tarjetas de productos */
.tarjeta-producto {
    max-width: 300px; 
    width: 100%;
    text-align: center;
    background-color: rgb(158, 99, 99);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.228);
    transition: transform 0.2s;
    margin: 10px; /* Margen alrededor de cada tarjeta para separación */
}

.tarjeta-producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.228);
}

.tarjeta-producto img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.tarjeta-producto h3,
.tarjeta-producto p {
    margin: 10px 0; /* Margen superior e inferior para encabezados y párrafos */
}

/* Estilos globales */
:root {
    --color-acento: #ee6130;
    --color-acento-claro: #ee613033;
    --color-texto: black;
    --border-color: black; /* Color del borde */
    --shadow-color: rgba(0, 0, 0, 0.5); /* Sombra negra con opacidad */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    background-color: rgb(77, 88, 88);
}

h3, p {
    margin: 6px;
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

a:hover {
    color: var(--color-acento);
}

button {
    background-color: var(--color-acento);
    color: white;
    padding: 5px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}

header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y el contenido del nav */
    align-items: center; /* Alineación vertical central */
    padding: 20px; /* Padding alrededor del header */
    border: 2px solid var(--border-color); /* Borde del header */
    box-shadow: 0 4px 8px var(--shadow-color); /* Sombra del header */
    letter-spacing: 1px;  
    margin-bottom: 10px; 
}

#logo {
    height: 120px; /* Tamaño del logo */
    margin-left: auto; /* Asegura que el logo se mantenga a la izquierda */
}

#nav {
    display: flex;
    align-items: center; /* Alineación vertical del contenido del nav */
    word-spacing: 10px; /* Espaciado de palabras en el nav */
}

header nav img { 
    height: 25px; /* Tamaño de las imágenes dentro del nav */
}

.carrito-compras {
    text-align: center; /* Centra el texto horizontalmente */
    margin: 20px 0; /* Margen superior e inferior de 20px, ajusta según sea necesario */
    font-size: 5em; /* Tamaño de fuente, ajusta según sea necesario */
    color: #0b0b0b; /* Color del texto, ajusta según sea necesario */
}

/* Estilo para el footer */
footer {
    text-align: center; /* Centra el texto y los elementos dentro del footer */
    padding: 20px; /* Espacio interno alrededor del contenido */
    background-color: #F0F8FF; /* Color de fondo del footer, ajusta según sea necesario */
    color: #333; /* Color del texto, ajusta según sea necesario */
    position: relative; /* Posición relativa para posibles ajustes de alineación */
    bottom: 0; /* Asegura que el footer esté al final de la página si es necesario */
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la página */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil en la parte superior del footer */
}

/* Estilo para el contenedor del total */
#total-container {
    text-align: center; /* Centra el contenido */
    margin-top: 20px; /* Espacio arriba del contenedor */
    padding: 20px; /* Espacio interno alrededor del contenido */
    background-color: #f1f1f1; /* Color de fondo del contenedor */
}

/* Estilo para el botón de pagar */
#pagar-btn {
    padding: 10px 20px; /* Tamaño del botón */
    background-color: #0066cc; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor cuando se pasa por encima del botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
}

#pagar-btn:hover {
    background-color: #005bb5; /* Color de fondo del botón en hover */
}


/*boton de volver a carrito y volver a productos*/

.boton {  padding: 10px 20px; /* Tamaño del botón */
    background-color: #0066cc; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor cuando se pasa por encima del botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
  
}

.boton:hover {
    background-color: #0056b3;
    align-content: center;
}